<!DOCTYPE html>
<html>
<head>
	<title>FactoryFun Beta</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="keywords" content="팩토리펀" />
	<meta name="description" content="공장을 운영하자" />
	<meta name="Author" content="YE" />
	<meta name="format-detection" content="telephone=no"/>
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
	<link href="/css/common.css" rel="stylesheet" />
	<script src="/js/jquery-2.2.3.min.js"></script>
</head>
<body>
<div class="wrap">